<div ng-controller="AttendanceJournalCtrl" class="attendance-journal">
 <div class="row">
    <div class="col-md-5">
      <label>Date Start:</label>
      <p class="input-group">

        <input type="text" class="form-control" datepicker-popup  ng-model="dateStart" is-open="status.dateStart" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open('dateStart')"><i class="fa fa-calendar"></i></button>
              </span>
      </p>
    </div>

    <div class="col-md-5">
      <label>Date End:</label>
      <p class="input-group">

        <input type="text" class="form-control" datepicker-popup  ng-model="dateEnd" is-open="status.dateEnd" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open('dateEnd')"><i class="fa fa-calendar"></i></button>
              </span>
      </p>
    </div>

    <div class="col-md-2">
      <label>&nbsp;</label>
      <button type="button" class="btn btn-primary form-control" ng-click="loadAtt()">
        Load Attendancies
      </button>
    </div>
  </div>
  <table id="attendanceJournalTable" ng-if="ajArray && ajArray.length" class="table text-center attendance-journal-table">
    <thead>
      <tr>
        <th class="attendance-journal-table text-center" >{{translation.NAME}}</th>
        <th class="attendance-journal-table text-center" ng-repeat="th in entries">{{th.beginTime | date:'dd-MM-yy'}}</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in ajArray" >
      <td class="attendance-journal-table">{{user.userName}}</td>
      <td class="attendance-journal-table" ng-click="cellClickHandler(attend, user)" data-toggle="tooltip" title="{{attend.reason}}" ng-repeat="attend in user.attendance">{{attend.state}}</td>
    </tr>
    </tbody>
  </table>
</div>
