.feedback-name {
  text-align: center;
  margin-top: 10px;
}

.feedback-container {
  background-color: #E8EBED;
}

.feedback-field {
  margin-top: 1%;
}

.feedback-info {
  margin-top: 11%;
  font-family: Arial;
  font-weight: Bold;
}

.feedback-dropdown {
  margin-left: 93%;
  padding: 0 0 0 80px;
}

.feedback-button {
  color: white;
  background-color: #276FA0;
  float: right;
}

.feedback-training-effect {
  margin-top:2.5%;
  padding-left: 8%;
}

.feedback-text {
  resize: none;
  width: 130%;
  margin-bottom: 4%;
}

.feedback-text-input {
  margin-top: 2.5%;
}

.feedback-radio-input {
  margin-top: 1%;
}

.feedbackBlock {
  font-family: Arial;
  font-weight:  Bold;
  width: 100%;
  border-radius: 2%;
  margin: 5px
}
