<div class="ngdialog-message feedback-container">
  <div class="modal-header">
    <h2 class="feedback-name">Leave feedback on this user</h2>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>Attendance</p>
        </div>
        <div class="col-sm-8 feedback-field control-label">
          <input type="text" class="form-control" data-ng-model="entity.attendance" value=""/>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>Attitude</p>
        </div>
        <div class="col-sm-8 feedback-field control-label">
          <input type="text" class="form-control" data-ng-model="entity.attitude" value=""/>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>Asked questions?</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.questions" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>Yes</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.questions" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>No</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>Was interested in the process?</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.interested" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>Yes</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.interested" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>No</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>Was this employ focused on result?</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.focusOnResult" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>Yes</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.focusOnResult" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>No</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>English level</p>
        </div>
        <div ng-controller="LeaveFeedbackCtrl" class="feedback-field col-sm-8">
          <select class="form-control feedback-dropdown" ng-model="entity.ddlLevel" ng-options="level.Name as level.Name for level in levels"></select>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>Mark</p>
        </div>
        <div ng-controller="LeaveFeedbackCtrl" class="feedback-field col-sm-8">
          <select  class="form-control feedback-dropdown" ng-model="entity.ddlMark" ng-options="mark.grade as mark.grade for mark in marks"></select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3 feedback-field feedback-info control-label">
          <p>Other info</p>
        </div>
        <div class="col-sm-6">
          <label for="feedbackInputId"></label>
          <textarea rows="9" class="form-control feedback-text" id="feedbackInputId" ng-model="entity.otherInfo"></textarea>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeThisDialog()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="leaveUserFeedback()">Ok</button>
</div>

